Binaries/*.config
*.manifest
*.vsix
*~
*.pkgdef
Source/*/obj/*
Source/DafnyExtension/DafnyPrelude.bpl
Source/DafnyExtension/DafnyRuntime.cs
Source/DafnyExtension/Z3-LICENSE.txt
Source/DafnyExtension/*.exe
Source/packages/*
Test/*/Output/*
Test/*/*/Output/*
Test/desktop/*
Test/dafny0/Extern.cs
Source/Dafny/Parser.cs.old
Source/Dafny/Scanner.cs.old
